openai
anthropic
groq
python-dotenv
fastapi
uvicorn[standard]
python-multipart
aiofiles

# Database
sqlalchemy
psycopg2-binary
alembic
boto3

# Auth
google-auth
requests
python-jose[cryptography]

# RAG
chromadb
